<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--my css-->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <!--google font poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!--font awesome from cdnjs copied link tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>RachnaYeri</title>
</head>
    <style>
        .a{
   width: 480px;
   margin: 60px auto; 
   box-shadow: 0 0 20px #000;
}
.info{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:#50d1c0;
    text-align: center;
}
.fbx{
    padding-top: 20px;
    text-align: center;
}
.btn-block{
    box-shadow: 0 0 20px #6666;
    transition: transorm .2s;
}
.inp{
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    margin-bottom: 8px;
    font-weight: bold;
}
.one{
    color: #fff;
    background-color: palevioletred;
    border-color: palevioletred;
}
.one:hover{
    color:#fff;
}
.two{
    color: #fff;
    background-color:palevioletred;
    border-color:palevioletred ;
}
.two:hover{
    color:#fff;
}
.three{
    color: #fff;
    background-color:palevioletred;
    border-color: palevioletred;
}
.three:hover{
    color:#fff;
}
.four{
    color: #fff;
    background-color: palevioletred;
    border-color: palevioletred;
}
.four:hover{
    color:#fff;
}
.five{
    color: #fff;
    background-color: palevioletred;
    border-color: palevioletred;
}
.five:hover{
    color:#fff;
}
.btn-block:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) !important;
    /*now we want on-hover it shifts slightly upwards for that...*/
     transform: scaleY(1.2) !important;
}
@media(max-width: 720px){
    .a{
        width: 90%;
    }
}


</style>
</head>
<body>
<div class="a">
    <div class="info">Select Your Genre</div>
    <section class="fbx">
        <a href="/Love" class="btn btn-block btn-lg one">Romance</a><br>
        <a href="/Nature" class="btn  btn-block btn-lg three">Philosophy </a><br>
        <a href="/Motivational" class="btn  btn-block btn-lg two">Motivation</a><br>
        
        <a href="/Sad" class="btn  btn-block btn-lg four">Sad</a><br>
    </section>

</div>

</body>
</html>