<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--my css-->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <!--google font poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!--font awesome from cdnjs copied link tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>RachnaYeri</title>
    <style>

.header-extradiv{
width: 100%;
height: auto;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv{
color: #fff;
border: medium;
border-radius: 18px;
padding:20px;
}
.icon{
    margin: 6px;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.slide{
    margin:25px;
    padding: 20px;
    height: auto;
    background-color: #000;
}
.dropdown-item{
  color: #fff;
}
.header-extradiv-2{
width: 100%;
height: auto;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv-2{
color:#666;

background-color:#fff;
border: 2px solid #50d1c0;
border-radius: 18px;
padding:20px;
transition: transform .2s;
}
.extradiv-2:hover{
transform: scale(1.1);
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
color: #fff;
background-color: #666;
}
.gap{
  margin-top: 50px;
  margin-bottom: 50px;
}
.icon{
    margin: 6px;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.fa-instagram{
  color: palevioletred;
}

    </style>
</head>
<body>
  
    <section>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">RachnaYeri</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Another Genre
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/Nature">Philosophy</a>
                <a class="dropdown-item " href="/Motivational">Motivation</a>
                <a class="dropdown-item" href="/Sad">Sad</a>
               
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">Join Now</a>
              </li>
          </ul>
        </div>
      </nav>
 </section>
   
 <section class="header-extradiv">
     <div class="container">
       <div class="row">
         <div style="background-color: #50d1c0;" class="col-lg-12 col-md-12 col-12 gap extradiv">
           <h2 style="color:#fff; background-color: #50d1c0;">S.H.E.</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="60000">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2>STRIKING</h2>
                <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
                <p>Vaguely clear, she likes being safe in this cage of hers.</p>
<p>No one can hurt her, as if the Duchess of Earl</p>
<p>Striking smile; Sparkling sheen; Spilling spirit</p>
<p>Look at her: She’s just another perfect poem girl</p>
<p>At times she stares out the window though</p>
<p>Whispering to herself, “Come on. End this!”</p>
<p>And seconds later, gets lost in her own world</p>
<p>Caterwauling; earphones blaring Shawn Mendes</p>
<p>The public information is – she’s in formation.</p>
<p>Believes no one notices that subtle subterfuge</p>
<p>But so full of herself, she’s overflowing everywhere</p>
<p>And you’d die for the deluge; you’d die in the deluge.</p>
              </div>
              <div class="carousel-item">
                <h2>HOLLOW</h2>
                <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
               <p>There SHE lies; placid</p>
                <p>The girl with the striking smile</p>
                <p>Across they stand; intimidated</p>
                <p>Dithering if it would be worthwhile</p>
                <p>While her worth might not be worth it</p>
                <p>She still manages to turn their eyes.</p>
                <p>A little cry out of her - “ALL HANDS ON DECK”</p>
                <p>This HOLLOW boat of hers was made to capsize.</p>
                <p>Lucky are those and unfortunate too,</p>
                <p>who didn’t pay heed to the Distress Call</p>
                <p>For they sure saved themselves, but missed -</p>
                <p>That little swerve in the water before the big fall</p>
              </div>
              <div class="carousel-item">
                <h2>ELUSIVE</h2>
                <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
                <p>The hollow boat that is SHE
,</p> <p>now rests in the deep jaws</p>
<p>All the passengers on board –
They died for a lost cause.</p>
<p>How to describe her!
I’m falling short of words.</p>
<p>To misinterpret her or overrate her</p>
<p>Which one would be worse?</p>
<p>ELUSIVE, Illusive, Allusive to all you sieve</p>
<p>She’s living in an hourglass, and it haunts, too!</p>
<p>She still whispers, “Come on. End this!”</p>
<p>Hope she sees: she can, if she really wants to.</p>
<p></p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <p style="color:#666; font-size: larger; font-weight: bold;">-BY SATYAM AMAN</p>
          <p style="color:#666; font-weight: bold;">FOLLOW ME @</p>
                    <a href="http://Instagram.com/kingson_rana07"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i> 
         </a>
          </div>
       </div>
        </div>
        </section>

<section class="header-extradiv-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12 offset-lg-2 extradiv-2 gap">
        <h2>चाँद की डोर से</h2>
                  <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
               <p> चाँद की डोर से</p>
<p>जब अकेले थे दोनों तब भी यही हाल था,</p>
<p>कोई मिल जाए अपना सा,</p>
<p>यही सोचकर दोनों का हाल - बेहाल था।</p>
<p>खुशी के पल जल्द ही गुज़र जाते हैं ,</p>
<p>दोनों मिले तो लेकिन,</p>
<p>प्यार करने वालें अक्सर बिछड जाते हैं।</p>
<p>दिल की बात रहने दी दिल में,</p>
<p>जब बोलना चाहा,</p>
<p>तब पड गए मुश्किल में।</p>
<p>हूक बराबर उठ रही थी,</p>
<p>दोनों ओर से,</p>
<p>बंधे हैं चाँद की डोर से ।</p>

<p>किस्मत ने अपनी उल्टी चाल दिखाई,</p>
<p>एक दूसरे से कह डाला,</p>
<p>पर घर छोडने की हिम्मत न हो पाई।</p>
<p>अपने को छोड किसी पराए से दिल लगाना है,</p>
<p>न जाने क्यों,</p>
<p>परिवार के दिए वचन को निभाना है।</p>
<p>आज दोनों शायद आखिरी बार मिलने आए हैं,</p>
<p>इस रात के लिए दोनों ने,</p>
<p>कबसे कितने सपने सजाए हैं।</p>
<p>मिलन है यह श्याम तक का भोर से,</p>
<p>बँधे हैं चाँद की डोर से ।</p>

<p>"मेर  बाद क्या करोगे? "उसने जवाब दिया,</p>
<p>" मैं तुम्हें भूल जाऊँगा।"</p>
<p>इसपर लड़की ने मुँह बना लिया।</p>
<p>"पगली, तेरे सबसे मुबारक दिन तुझे रुलाऊँ,</p>
<p>तू लोगों से घिरी हो पर अपनी याद से तुझे तडपाऊँ,</p>
<p>किसी को प्यार न करने की सलह सबको देता जाऊँ,</p>
<p>इससे अच्छा तो यही होगा कि मैं तुम्हें भूल जाऊँ। "</p>
<p>लड़की बोली" हमारी कहानी क्या यहीं खत्म हो जाएगी? ",</p>
<p>" नहीं, कुछ सालों बाद फिर ये रात आएगी,</p>
<p>जब ज़िंदगी हमसे रूठ जाएगी,</p>
<p>आँखों से आँसू फिर बह जाएगें,</p>
<p>और साथ-साथ ये याद दिलाएंगे,</p>
<p>कि इसमें हमारी ही गलती है,</p>
<p>और किसी की साँसें हमारे नाम से चलती हैं।"</p>
<p>अक्स देख लेंगे एक दूसरे का दूसरी ओर से,</p> 
<p>बँधे हैं चाँद की डोर से।</p> 

<p>आज 3 साल बाद ऐसी ही रात में,</p> 
<p>याद करते हैं उसे विरह की बात में,</p> 
<p>"जहाँ भी हो वो खुश रहे,</p> 
<p>यही इस दिल की दूआ कहे।"</p>
<p>गम की परछाई भले ही घेरे है,</p> 
<p>पर सातों जन्म नाम बस तेरे हैं,</p> 
<p>यादगार कहानियाँ अक्सर अधूरी रहती हैं,</p> 
<p>नदी के किनारों में हमेशा ही दूरियाँ रहती हैं। </p>
<p>सुनाती है ये कहानियाँ चाँदनी के ओर-छोर से,</p> 
<p>बँधे हैं चाँद की डोर से। </p>

                  <h2>-BY KSHITIZ</h2>

                     <p>FOLLOW ME @</p>
                     <a href="https://Worksksh.blogspot.com"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
                     <a href="https://www.instagram.com/kshitizworld/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="header-extradiv">
  <div class="container">
    <div class="row">
      <div style="background-color: #50d1c0;" class="col-lg-12 col-md-12 col-12 gap extradiv">
        <h2 style="color:#fff; background-color: #50d1c0;"></h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="60000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>Spring </h3>
              <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
<p>I have started dressing in colours,</p>
<p>Letting my hair open in the breeze,</p>
<p>I'm dancing to the songs I've loved,</p>
<p>I'm learning how to live as I please.</p>

<p>I've started painting my lips red,</p>
<p>There's a blush that sits on my cheeks,</p>
<p>I'm writing songs of birds that sing,</p>
<p>And the flowers that fill my week.</p>

<p>I've started letting the sun,</p>
<p>Paint my body with liquid gold,</p>
<p>I'm learning to take risks now,</p>
<p>And those decisions I once found bold.</p>

<p>I've started smiling a lot more, </p>
<p>Letting my eyes dream again,</p> 
<p>I'm walking through storms now,</p>
<p>Falling slowly in love with rain.</p> 

<p>I've picked up my guitar once more,</p>
<p>Learning how to be free,</p> 
<p>I'm getting up and flying afresh,</p>
<p>Because you've awaken spring in me.</p> 

            </div>
            <div class="carousel-item">
             <h3> Seasons & You </h3>
             <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
<p>Our eyes met in summer, among a crowd they saw you. 
  The sun smiled, when you came my way and I kept the first words you spoke to me then.
   The sun often glared at us hard, the day we met again, the skies were grey and it rained, just like the first song you left playing in my mind, again and again.</p>

<p>By the time Autumn came, I was already breathing beside you. While the leaves were falling so were yours and mine pretends. You scared me for in front of you I stood bare, like the trees of the season, yet every time you saw me, "beautiful" you whispered.</p>

<p>Winter caught us falling, hiding behind closed doors, wrapped in each other arms on a staircase. On cold days you'd lend me your sweater and I'd wear it like my armour, which it always will be. Through the phone, I'd hear your words, although muffled by the blankets I knew they were always of love. </p>

<p>Now I await spring desperately, so I can lend you those flowers, not the ones I picked up from the mountains, but the ones you watered back in the summer.</p>

            </div>
            
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <h2 style="color:#666; font-size: larger; font-weight: bold;">-BY RANYA VAID</h2>
          <p style="color:#666; font-weight: bold;">FOLLOW ME @</p>
          <a href="https://instagram.com/___oblivio.n?igshid=bvbqyn1iu0vk"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
         </a>
      </div>
      
</div>
</div>
</section>

<section class="header-extradiv-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-12  gap extradiv-2">
       <h2>Unadulterated Love</h2>
       <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
        <p>When you actually start counting moments, not time.</p> 
        <p>When you’re more bothered about each other’s happiness, than being together.</p>
        <p>When his rage is taken as a sign of care, not dominance.</p>
        <p>When his happiness is more significant than his exact location.</p>
        <p>When he is your strength, not weakness.</p>
        <p>When his smile is the only gift you need, above some luxury greed.</p>
        <p>When his words seem more peaceful, than his silence.</p>
        <p>When his presence not only feels like, but is indeed home.</p>
         <h3>-BY VAISHNAVI PURI</h3>
         <h4>Follow Me @</h4>
         <a href="https://vaishnavipuri.wordpress.com/"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
         <a href="https://www.instagram.com/mywritingscroll/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>

      </div>
      <div class="col-lg-5 col-md-5 col-12 gap offset-lg-1 extradiv-2">
        <h2>Mohabbat Me The To Mohabbat Nibha Lete The</h2>
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
       <p>Par ab humse mohabbat jaisa kaam nahi hota</p>
        
        <p>Pehle harr labz mein mere...tu hoti thi</p>
        <p>Ab hothon par bhi tera naam nhi hota</p>
        
        <p>Kitna toot-ti hai baarish bhi</p>
        <p>Jab aasmaan se bichadti hai</p>
        
        <p>Boondo me tooti hui</p>
        <p>Aa kar zameen par bikharti hai</p>
        
        <p>Hum bhi toote hain tere pyaar me yuhi,</p>
        <p>Aur tootna bhi baaki hai</p>
        
        <p>Abhi roothe bhi kaha achhe se</p>
        <p>Roothna bhi baaki hai</p>
        
        <p>Ab kisi se milne ka.. na mn hai</p>
        <p>Or ghar mein mere ab koi mehmaan nhi hota</p>
        
        <p>Hoti thi tujhse milne ki aarzoo har waqt</p>
         <p>Par ab teri galiyo me Mera koi kaam nahi hota</p>
         
        <p>Ki thi dil se  ibadat teri</p> 
        <p>pr ab khuda pr bhi vishwas nhi hota</p>
        
         <p>Mohabbat me the to mohabbat nibha lete the</p>
        <p>Pr ab hamse mohabbat jaisa kaam nahi hota</p>
        <h3>-BY VIBHOR KATARIA</h3>
         <h4>Follow Me @</h4>
         
         <a href="https://instagram.com/vibhor_kataria_?igshid=ii3gm1goe43l"><i class="icon fa-3x fa fa-instagram" aria-hidden="true" style="color: palevioletred;"></i></a>

      </div>
    </div>
  </div>
</section>
<section class="header-extradiv-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12 offset-lg-2 gap extradiv-2">
       <h2>I’ll Always choose you!</h2>
       <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Don't know what's happening....</p>
<p>memories steadily fading...</p>
<p>your face is out of focus now...</p>
<p>perhaps... my anxiety took me,</p>
<p>love that we created....like how??</p>
<p>life we lived ... is too far to see...</p> 
<p>I'm finding a treasure inside,</p>
<p>nothing but a flawless tide...</p>
<p>maybe it's the last time,</p>
<p>you hearing something mine!!! </p>
<p>I don't know... if the remembrance</p>
<p>of my disguised soul....still exists or not!!</p>
<p>Now, you seem too good to be true...</p>
<p>and I wish to take my eyes off you!!!</p>
<p>But, darling.. If I ever wish to...</p>
<p>rephrase that, "I do!"</p>
<p>I'll always choose you....</p>
<h3>-BY GAUTAM SINGH</h3>
         <h4>Follow Me @</h4>
         
         <a href="https://www.instagram.com/gautam461/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true" style="color: palevioletred;"></i></a>

      </div>
    </div>
  </div>
</section>

<section class="header-extradiv-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-12 gap extradiv-2">
        <h2>How I met a stranger</h2>
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />

<p>Three days since I saw you last</p>
<p>and the first,</p>
<p>I remember you were hooked on to your phone</p>
<p>with those teal earphones plugged in</p>
<p>I wonder which song had your attention, so deep.</p>
<p>Your face so shiny and bright in the morning</p>
<p>those arms being highlighted from the shirt folds,</p>
<p>I admired the fabric which hooked on to your body</p>
<p>I wonder if I could touch that too.</p>
<p>I always asked myself will there be anyone,</p>
<p>whose time would stop when they look at me</p>
<p>I wondered how they would feel</p>
<p>when they would ever see me</p>
<p>know me or just wish to be with me</p>
<p>but my dear, you gave me my answer.</p>
<p>The stranger with birthmark on his right cheek</p>
<p>a beautiful smile with crooked teeth</p>
<p>a voice whose "thank you"</p>
<p>turned me into a poet again</p>
<p>a person I beg god to make me meet again.</p>
<p>I am frozen, still</p>
<p>cassettes of our meeting on replay</p>
<p>the cold wind</p>
<p>the soft shirt</p>
<p>the glances which were shared</p>
<p>trust me I want to feel things again.</p>
<p>this poem feels exactly how I am right now</p>
<p>incomplete, out of tune and out of words to write</p>
<p>but I know that I deserve more</p>
<p>I know I will see you again, one day</p>
<p>till then all I can say is</p>
<p>Hey, beautiful stranger it has indeed been a good morning.</p>
<p>~Stranger who fell in love with a stranger</p>
<h3>-BY SIMRAN ACHANTANI</h3>
        <p>FOLLOW ME @</p>
      <a href="https://musingsofthegloom.blogspot.in"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://instagram.com/machatichaos?igshid=1619h5l7g0nl5"><i class="icon fa-3x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
       </a>

      </div>
      <div class="col-lg-5 col-md-5 col-12 extradiv-2 gap offset-lg-1">
        <h2>Lovers of the night</h2>
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />

<p>I envy you</p>
<p>Your power, your shine, your dents</p>
<p>I envy it all.</p>
<p>The way you wrap yourself around me</p>
<p>Marking inch by inch of my body</p>
<p>With your silver hands</p>
<p>I envy you</p>
<p>I envy how you make me look beautiful</p>
<p>Perfect- strong and smooth</p>
<p>All at once.</p>
<p>I envy the mornings where you are hidden</p>
<p>When I have to stay quiet about the nights, we had</p>
<p>The rough, love making night.</p>
<p>I envy you.</p>
<p>I envy the ones I have to share you with</p>
<p>I envy the way you rule me</p>
<p>The way you accept my dark side!</p>
<p>I envy the way you accept my dark deeds!</p>
<p>I envy you for having so much power that</p>
<p>I fall in love with myself.</p>
<p>I start admiring myself in the mornings</p>
<p>I touch my skin remembering how you did</p>
<p>All the hard soft rendezvous</p>
<p>I envy you.</p>
<p>The late night lovers are we (?)</p>
<p>Who exchange two words hardly?</p>
<p>But become the half body- the better half</p>
<p>Just for the night.</p>
<p>You follow me every night</p>
<p>And make me so weak, so weak</p>
<p>Maybe we will never be</p>
<p>However, be the nightly companion</p>
<p>Who completes the sorrow of second?</p>
<p>Inch by inch</p>
<p>With all the light you give.</p>
<p>I envy you</p>

<p>-moon is hard to be loved</p>
<h3>-BY SIMRAN ACHANTANI</h3>
        <p>FOLLOW ME @</p>
      <a href="https://musingsofthegloom.blogspot.in"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://instagram.com/machatichaos?igshid=1619h5l7g0nl5"><i class="icon fa-3x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
       </a>

      </div>
    </div>
  </div>
</section>

<section class="header-extradiv">
  <div class="container">
    <div class="row">
      <div style="background-color: #50d1c0;" class="col-lg-12 col-md-12 col-12 my-4 extradiv">
        <h2 style="color:#fff; background-color: #50d1c0;">Mohabbat Ka Pal</h2>
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
         </ol>
         <div class="carousel-inner">
           <div class="carousel-item active">
             <h2>Mohabbat</h2>
             <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
            <p>kya aalam hai unki mohabbat ka ki aaj chaandni se zyada noor mere chehre par aya hai,</p>
            <p>ki sooraj sa ghumaan meri aankhon mei chhaya hai,</p>
            <p>sharm se palke jhuk rahi hain jaise chaand baadal mei chhup raha ho,</p>
            <p>khushi ke aansu baras rahein hai jaise baadal ne raet par sukoon barsaya ho...</p>
            <p>kya asar hai unki baaton ka ki saare rang pheeke se lag rahe hain,</p>
            <p>shehed se zyada meethe alfaaz kaano mei goonj rahe hain,</p>
            <p>ki labon ki chuppi dil ka toofaan bayaan karti hai,</p>
            <p>ki bin bole ye dhadkan ab unka hi naam leti hai...</p>
            <p>kya ho agar ye sach khwaab mei badal jaaye,</p>
            <p>ki shaam jab dhal gayi to dhoop se sach jal jaaye.</p>
            <p>darr lagta hai ki kal unka mann bhar jaaye, badal jaaye.</p>
            <p>par kya taaqat unke ishq ki, ki dil hass kar uss gham se bhi nikal jaaye....</p>
           </div>
           <div class="carousel-item">
             <h2>Wo Pal</h2>
             <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />
          <p>Uss pal</p>
          <p>Zindagi ki unchayi par,Hum khade the iss kadar</p>
          <p>Ki tere chehre ki Khushi Dekh Kar</p>
          <p>Yun aankhen Bhar aayi.</p>
          <p>Chalti Rahu tera haath pakad KarChaahe chalna pade Umar Bhar</p>
          <p>Bas chalta rahe ye khoobsoorat Safar</p>
          <p>Khuda se Mai ye dua Kar aayi.</p>
          <p>Uss pal.</p>
          <p>Hasti rahi sunke Teri wo baatein Hairat bhare wo Jo tere iraade.</p>
          <p>Beetein Dino ki wo saari yaadein.</p>
          <p>Khushiyo Ka Jaise khazaana hai.</p>
          <p>Akeli na ho phir humari raatein</p>
          <p>Kat jaaye din aise haste hasaate Sunte kahaaniyaan kisse batate</p>
            <p>Tujhko har janam, aise hi paana hai.</p>
            <p>Har pal.</p>
            <p>Kat'te Nahi din ab tere khayalo mei</p>
            <p>Par paaye jawaab Maine tere sawaalo mei</p>
            <p>Meri bhi khushiyaan hai tere sawaabo mei</p>
            <p>Zindagi Jaise phulo ki kyaari hai.</p>
            <p>Shaamo mei rang bharde chai ke pyaalo se</p>
            <p>Galti chhupa le hum seekh ke taalo mei</p>
            <p>Kamyabi chhu le hum Apne kamaalo se Khoobsoorat sapne si apni ye yaari hai</p>
            </div>
          </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
       <p style="color:#666; font-size: larger; font-weight: bold;">-BY ISHIKA GULATI</p>
       <p style="color:#666; font-weight: bold;">FOLLOW ME @</p>
              <a href="http://Instagram.com/ishika221"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i> 
      </a>
       </div>
    </div>
     </div>
     </section>
     



     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>