<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--my css-->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <!--google font poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!--font awesome from cdnjs copied link tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>RachnaYeri</title>
    <style>
     

.header-extradiv{
width: 100%;
height: auto;
margin-top: 70px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv{
color: #666;
background-color:#fff;
border: 2px solid #50d1c0;
border-radius: 18px;
padding:20px;
transition: transform .2s;
}
.extradiv:hover{
transform: scale(1.1);
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
color: #fff;
background-color: #666;
}
.gap{
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon{
    margin: 6px;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.fa-instagram{
  color: palevioletred;
}
.dropdown-item{
    color: #fff;
}
    </style>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RachnaYeri</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Another Genre
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Love">Romance</a>
                    <a class="dropdown-item " href="/Nature">Philosophy</a>
                    <a class="dropdown-item" href="/Sad">Sad</a>
                   
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">Join Now</a>
                  </li>
              </ul>
            </div>
          </nav>
     
     </section>


<section class="header-extradiv">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-12 gap extradiv">
       <h2>Ye Ant Bhi Shuruaat Hai</h2>
       <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Ye ant bhi shuruaat hai</p>
<p>Ghabraane ki kya baat hai</p>
<p>Jo lad-khada ke gir gaya</p>
<p>Wo gir ke firse uth gya</p>
<p>Man me bhari ab aag hai</p>
<p>Subah se pehlee raat hai</p> 
<p>Ye ant bhi shuruaat hai</p>

<p>Wo chal pda na tham RHA</p>
<p>Fir chahe koi gham khada</p>
<p>Sab peeche chhod aage badhe</p>
<p>Seena taane hu mai khada</p>
<p>Abb hamare samne, Mushkilo ki kya aukaat hai</p>
<p>Ye ant bhi shuruaat hai</p>

<p>Lau (aag) hai dil me jag gyi</p>
<p>Ki haar ko harayege</p>
<p>Apne imaan ke vaaste</p>
<p>Hum khaakh me mil jayege</p>
<p>Hum surya-asth sa surya hai</p>
<p>Suryodey bhi payege</p>
<p>Bs kaatni ye raat hai</p>
<p>Ye ant bhi shuruaat hai</p>
<p>Ye ant bhi shuruaat hai</p>
<h3>-BY VIBHOR KATARIA</h3>
<P>FOLLOW ME @</P>
<a href="https://instagram.com/vibhor_kataria_?igshid=ii3gm1goe43l"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
</a>
      </div>
      <div class="col-lg-5 col-md-5 col-12 offset-lg-1 gap extradiv">
       <h2>Gone With The Wind</h2>
       <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>The shadows hear me now,</p>
<p>the trees seem a lot greener,</p>
<p>the ashes have turned white</p>
<p>the moon shines a bit brighter</p>

<p>The wind is stuck in my hair,</p>
<p>the sand is in places of my skin,</p>
<p>the words have marked my soul</p>
<p>the time has just begun.</p>

<p>Faces now seem to resemble,
<p>dreams have been realistic;</p>
<p>life is now moving,</p>
<p>as I have started living.</p>
<h3>-BY SIMRAN ACHANTANI</h3>
        <p>FOLLOW ME @</p>
      <a href="https://musingsofthegloom.blogspot.in"><i class="icon fa-4x fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://instagram.com/machatichaos?igshid=1619h5l7g0nl5"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
       </a>
      </div>
    </div>
  </div>
</section>

<section class="header-extradiv">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12 extradiv gap offset-lg-2">
        <h2>A Mirror To Life</h2>
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
        <p>Life is a dirty shitty crap…</p>
<p>It’s not less than a trap…!!</p>

<p>Care less…</p>
<p>You’ll have Less stress…!!</p>

<p>Gosh! You’re blessed…</p>
<p>If your life is not messed…!!</p>

<p>Life is full of ups and downs…</p>
<p>Some wear caps, Some wear Crowns…!!</p>

<p>It’s a very Big Danger…</p>
<p>Cause every other person is a stranger…!!</p>

<p>Life can be very happy and grateful…</p>
<p>But when it turns it can be harsh and painful…!!</p>

<p>Life is full of negatives and Flaws…</p>
<p>But u should be wise to accept its laws…!!</p>


<p>Life can be extremely long…</p>
<p>But the only thing you need to do is to stay strong…!!</p>

<p>Life is a roller coaster ride…</p>
<p>And every other person is full of pride…!!</p>

<p>In everyone’s life there is a change…</p>
<p>And the way we react to it is so strange…!!</p>

<p>Life is full of pains and grief…</p>
<p>But we should never forget that we have a God whom we should believe…!!</p>

<p>Everyone has to be ready to play…</p>
<p>Because life is a puzzle every day…</p>

<p>Life teaches us To Live, To Die...</p>
<p>To Laugh, To Cry...</p>
<p>To give up and To Try...</p>
<p>And in the end, it leaves us Dry…!!</p>

<p>So, Make</p>
<p>The REST of your life</p>
<p>The BEST of your life…</p>
<h3>-BY VAISHNAVI PURI</h3>
          
                               <p>FOLLOW ME @</p>
                               <a href="https://vaishnavipuri.wordpress.com/"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
                               <a href="https://www.instagram.com/mywritingscroll/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="header-extradiv">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-12 gap extradiv offset-lg-2">
      <h2>जीना इसी का नाम है.....! </h2>
      <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>आज इस समय खुश हैं हम,</p>
<p>लेकिन कल से अंजान हैं।</p>
<p>कभी सोचते हैं कि क्यों हैं हम,</p>
<p>और अगले ही पल परेशान हैं।</p>

<p>किसी को सौं बातें बताकर,</p>
<p>एक बात तक न कहना।</p>
<p>किसी से सौं बातें छिपाकर,</p>
<p>बस वो एक बात कह चुप रहना।</p>

<p>उम्मीद का दामन थाम लेना,</p>
<p>उसके सहारे कल के सपने सजाना।</p>
<p>टूटने पर उसके हिम्मत से काम लेना,</p>
<p>और अंदर से उदास होकर भी हँसकर दिखाना।</p>

<p>छोटी - बड़ी गलतियाँ करना,</p>
<p>और फिर अपनो को मनाना।</p>
<p>कुछ गलत करने से डरना,</p>
<p>और गलत फैसलों पर पछताना।</p>

<p>अपनी हार पर रोना, दुख मनाना,</p>
<p>एक हार से हार मान लेना।</p>
<p>कुछ साल बाद उस हार को बचकाना बताना,</p>
<p>और बीती बातों को याद कर हँस देना।</p>

<p>इस सफर में हज़ारों लोग टकराते हैं,</p>
<p>कुछ रुकते हैं, बाकी छोड़ जाते हैं।</p>
<p>कुछ रुलाते हैं, कुछ हँसाते हैं,</p>
<p>पर गिनती के लोग ही दिल में जगह बनाते हैं।</p>

<p>हमारी कहानी किसी के लिए है बस एक किस्सा,</p>
<p>फिर भी अपनी कहानी सबको अलग बनानी है।</p>
<p>न जाने कितने ऐसी कहानियों का हम हैं हिस्सा,</p>
<p>लेकिन याद रहे कि ये हमारी ज़िन्दगानी है।</p>

<p>आज जो आलम है वो कल हो न हो, कौन जानता है!</p>
<p>फिर भी साँसों का एहसान कौन मानता है!</p>
<p>खुश करना और खुश रहना ज़िंदगी का यही काम है,</p>
<p>क्योंकि जीना इसी का नाम है....... ।</p>
<h2>-BY KSHITIZ</h2>

                     <p>FOLLOW ME @</p>
                     <a href="https://Worksksh.blogspot.com"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
                     <a href="https://www.instagram.com/kshitizworld/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
</section>

<section class="header-extradiv">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-12 gap extradiv">
        <h2>I Know</h2>
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>I know, sometimes it's so dense</p> 
<p>To get up from your depths,</p> 
<p>Even though it's not your body</p> 
<p>That is exhausted but it's your brain inside your head. </p>
<p>Continual breakdowns and fortuitous flutter of misery strike you</p> 
<p>Like a freaking fiendish ball, </p>
<p>But it is manifestly alright</p> 
<p>We go through it all.</p> 
<p>It is moulding us to be stronger,</p> 
<p>Stronger than we think, </p>
<p>You're a baguette and you are</p> 
<p>Not even realising. </p>
<p>It may take time, a lot of it to get there,</p> 
<p>There is a interpretation,</p> 
<p>A flicker in you,</p> 
<p>Which you'll never recoup anywhere.</p>
<h3>-BY SAMEEKSHA BHATT</h3>
<P>FOLLOW ME @</P>
<a href="https://instagram.com/sameeksha.bhatt?igshid=z4nh74nm7zgr"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-5 col-md-5 col-12 gap offset-lg-1 extradiv">
        <h2>Why can't I be ?</h2>
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Why can't I be a wildflower,</p>
<p>Growing around the edge of the sea or</p>
<p>Inside a broken tower ?</p>

<p>Why can't I be that burnt tree, </p>
<p>Which when asked if it would stop growing,</p>
<p>always disagree.</p>

<p>Why can't be a bird flying in the sky,</p>
<p>Who still carries a hope of flying higher in</p>
<p>it's eye?</p>

<p>Why can't I be the first drop of rain,</p>
<p>Falling softly on earth washing away all the</p>
<p>pain?</p>

<p>Why can't I be a paper embedded with poetry or a canvas full or art?</p>
<p>Why can't I be something that keeps rising</p>
<p>again even after being torn apart ?</p>

<p>I kept asking who's stoping me and</p>
<p>assuming the answer to be this world,</p>
<p>I was the one who was stopping myself and</p>
<p>I couldn't see that for my vision was blurred.</p>
<h3>-BY RANYA VAID</h3>
          <p>FOLLOW ME @</p>
          <a href="https://instagram.com/___oblivio.n?igshid=bvbqyn1iu0vk"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
         </a>

      </div>
    </div>
  </div>
</section>

<section class="header-extradiv">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12 gap offset-lg-2 extradiv">
            <h2>The Black Flame</h2>
                      <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
                     <p>BLACK FLAME</p>
                     <p>I strike like my nail colour, glittery fucks given.</p>
                     <p>Life throws them odds at me, I make them even.</p>
                     <p>Dive in my eyes, get lost in the maze.</p>
                      <p>Be mine a minute, let the world haze.</p>
                      <p>All that glitters ain’t gold, that’s true,‘Cause I am hard as diamonds, through and through.</p>
                      <p>Word-game so uptight, lips be spitting fire.</p>
                      <p>Sight so enchanting, I light up your desires.</p>
                      <p>Look on my face so chill, it gives you frostbite.</p>
                      <p>But the attitude gets fearsome as the flame of anger ignites.</p>
                      <p>I am a complete aura, not just a queen,</p>
                      <p>I tend to persist longer than you can perceive.</p>
                      <p>If you lost your mind, I could be the thief.</p>
                      <p>Am I a bit too much? Well you better leave.</p>
                      <p>Black heels, black dress, epitome of finesse.</p>
                      <p>And with those open curls, I look like a lioness.</p>
                      <p>Those hair of mine, tie down the spells.</p>
                      <p>When I let them loose, they cast you in Hell.</p>
                      <p>And I look so angelic, you think it's Heaven.</p>
                      <p>I am rather a witch, using you as a weapon</p>
                      <p>To hunt down everyone who’d stand against me.</p>
                      <p>And once the job is done, will I set you free?</p>
                      <p>But I am a drug, you’ll be left in withdrawal.</p>
                      <p>I might not be, but the intoxication is immortal.</p>
                      <p>Hellish as Satan's Mistress, I can’t be tamed.</p>
                      <p>I storm your world like a hurricane,</p>
                      <p>But all you could see was a BLACK FLAME.</p>

                      <h3>-By ISHIKA GULATI</h3>
    
                         <p>FOLLOW ME</p>
                         
                         <a href="http://Instagram.com/ishika221"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </section>
    
     
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>