<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--my css-->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <!--google font poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!--font awesome from cdnjs copied link tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>RachnaYeri</title>
    <style>
   
   .header-extradiv-2{
width: 100%;
height: auto;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv-2{
color: #fff;
border: medium;
border-radius: 18px;
padding:20px;
}
.icon{
    margin: 6px;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.slide{
    margin:25px;
    padding: 20px;
    height: auto;
    background-color: #000;
}
.header-extradiv{
width: 100%;
height: auto;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv{
color:#666;
background-color:#fff;
border: 2px solid #50d1c0;
border-radius: 18px;
padding:20px;
transition: transform .2s;
}
.extradiv:hover{
transform: scale(1.1);
box-shadow: 0 0 20px 0 rgba(192, 126, 126, 0.3);
color: #fff;
background-color: #666;
}
.icon{
    margin: 6px;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.gap{
  margin-top: 50px;
  margin-bottom: 50px;
}

.dropdown-item{
    color: #fff;
}
.fa-instagram{
  color: palevioletred;
}
    </style>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RachnaYeri</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Another Genre
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Love">Romance</a>
                    <a class="dropdown-item " href="/Motivational">Motivation</a>
                    <a class="dropdown-item" href="/Sad">Sad</a>
                    
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">Join Now</a>
                  </li>
              </ul>
            </div>
          </nav>
     </section>
     <section class="header-extradiv">
         <div class="container">
             <div class="row">
                 <div class="col-lg-5 col-md-5 col-12 mx-12 gap extradiv">
                  <h2>Tirama</h2>
                  <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
                  <p>‘Tis a mystery to paltry mortal eyes :</p>
                 <p>The sanguine, heavenly sight of morrow</p>
                 <p>For despite the star-crossed and forlorn cries</p>
                 <p>This vision doth not wait upon sorrow</p>
                 <p>One shineth light over the dusty souls;</p>
                 <p>A ravenous reverie, but days are numbered</p>
                  <p>One yarns hearsays of gleeful hearts in wholes</p>
                  <p>Tempts us to get down the clouds encumbered</p>
                  <p>Twinkles over and lulls by lullabies,</p>
                 <p>One’s the ELIXIR that keeps us going</p>
                  <p>Like the hues of skies, owns countless disguise</p>
                  <p>One’s the aforesaid mystery worth knowing</p>
                 <p>Leave it be; for price to pay would be death</p>
                  <p>Beauty feeds over every single breath</p>
                  <h3>-By SATYAM AMAN</h3>

                     <p>FOLLOW ME @</p>

                     <a href="http://Instagram.com/kingson_rana07"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
                 </div>
                 <div class="col-lg-5 col-md-5 col-12 mx-12 gap offset-lg-1 extradiv">
                  <h2>Would It Still Be Me?</h2>
                                <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
                                <p>Would it still be me?</p>
                                <p>When the waves lash on the shore,</p>
                                <p>The shore stands quite.</p>
                                <p>The sun still comes up afterEvery dark night.</p>  
                                <p>The stars don't stop twinkling</p>
                                <p>Though they are not praised like moon.</p>    
                                <p>Some songs still bring back memories</p>
                                <p>They don't have to be your favourite tune.</p>   
                                <p>Still sometimes, the silence of the shore,</p>
                                <p>Is more beautiful than the rising tide.</p>
                                <p>People out there still crave starry nights</p>
                                <p>Coz every night is a moonlit night.</p>
                                <p>You could scream but I would wait for your calm.</p>
                                <p>Our bond shall triumph every emotional storm.</p>
                                <p>Each time in distress, you can let go of our bond.</p>
                                <p>But If I didn't try to mend it at every dawn,</p> 
                                <p>Would it still be me?</p>
                                  
                  <h3>-By ISHIKA GULATI</h3>
                    <p>FOLLOW ME @</p>
                    
                    <a href="http://Instagram.com/ishika221"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i> 
                   </a>
                </div>
              </section>

              <section class="header-extradiv-2">
                <div class="container">
                  <div class="row">
                    <div style="background-color: #50d1c0;" class="col-lg-12 col-md-12 col-12 my-4 extradiv-2">
                      <h2 style="color:#fff; background-color: #50d1c0;"></h2>
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="60000">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            
                            
             
                            <h2>Recipe For A Great Farewell</h2>
                            <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />

                            <p>So I have a big bowl of foreign words,</p>
                            <p>For a pan of your heart turned alien,</p>
                            <p>With a pinch of love left untamed,</p>
                            <p>And a cup or two of memories love to sway.</p>
                            <p>I will give you my recipe for a great farewell.</p>
                            
                            <p>Burn down the sweet talks,</p>
                            <p>Add the sourness pinch by pinch of your strings,</p>
                            <p>To my sauce of hurt,</p>
                            <p>Then mix the mixture to break a bone.</p>
                            <p>I will give you my recipe for a great farewell.</p>
                            
                            <p>Now dear preheat the wounds once given,</p>
                            <p>Take out the ladle of taunts to read,</p>
                            <p>The mixed mixture may marinate my mind,</p>
                            <p>To adapt to this faux sweetness of our souls.</p>
                            <p>I will give you my recipe for a great farewell.</p>
                            
                            
                            <p>Now butter the dish of wrath,</p>
                           <p>Dust another lie or two,</p>
                            <p>Blame the milk for the bland of us,</p>
                            <p>Or just blame me for stale of our tale,</p>
                            <p>I will give you my recipe for a great farewell.</p>
                            
                            <p>Now we pick a name or two,</p>
                            <p>Because co-chefs can spoil your food too,</p>
                            <p>Just like friends lie about the taste,</p>
                            <p>Now add the frosting of lost hope and</p>
                            <p>I will give you my recipe for a great farewell.</p>
                            
                            <p>Now you should start smelling the fish,</p>
                            <p>the sugar is now spice,</p>
                            <p>your tongue is now burnt,</p>
                            <p>with too much of the cold cake.</p>
                            <p>as lovers break you second,</p>
                            <p>you may now know the taste.</p>
                            <p>I will give you my recipe for a great farewell.</p>
                            
                            <p>Come come, child take a bite.</p>
                            <p>Close your eyes and raise the wine,</p>
                            <p>Liquor sobers your sad cookies,</p>
                            <p>It is a kitchen of misfortunes,</p>
                            <p>Now sit down on the table,</p>
                            <p>Cut your tongues off,</p>
                            <p>I present to you the recipe for a great farewell!</p>
                            
                          </div>
                          <div class="carousel-item">
                           
                           
                           <h2>How To Slowly Disap-</h2>
                           <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />

                           <p>I hated making lists since I was a kid,</p>
                          <p>But sometimes- some rare times,</p>
                           <p>Lists help.</p>
                           <p>So dearest reader</p>
                           <p>Let me make a very personalized one for you.</p>
                          <p>Some instructions:</p>
                           <p>Nothing, they can just be sad(der).</p>
                           
                           <p>So you need to start by letting go of your morning cup</p>
                           <p>We focus on things which are dear to us,</p>
                           <p>So we know letting go is easy.</p>
                           <p>Quit dreaming of pancakes in the morning.</p>
                           <p>Try skipping-</p>
                           <p>Your favorite.</p>
                           <p>Always keep ice cream handy.</p>
                           <p>They may be sad to be consumed for breakfast,</p>
                           <p>But they work best when eaten while being seated on the floor.</p>
                           
                          <p>So for lunch, if you survive yourself,</p>
                           <p>Just gulp up your words,</p>
                           <p>And throw them on a sheet of paper.</p>
                           <p>Write some good-bye emails-</p>
                           <p>So your friends feel loved.</p>
                           <p>Don’t forget your parents,</p>
                           <p>Let them read.</p>
                           
                           <p>For dinner, we keep it light.</p>
                           <p>Slowly start blocking away the ones who hurt,</p>
                           <p>No silly-not you. Yet.</p>
                           <p>And then eat up your dreams,</p>
                           <p>Choke on your darkness</p>
                           <p>And just wish the sun doesn’t rise.</p>
                           
                           <p>Stretch- make sure you get stronger to ignore-</p>
                           <p>The messages they send.</p>
                           <p>Their symptoms should last a day or two.</p>
                           <p>On third, you block the sweets.</p>
                           
                           <p>Soon enough, you will dream to fly,</p>
                           <p>So do it.</p>
                           <p>Don’t look down,</p>
                           <p>It is said to be scary.</p>
                           
                          <p>Slowly they will forget,</p>
                           <p>So will you.</p>
                          <p>This is how you disap-</p>
                           </div>
                          
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                      <h2 style="color:#666; font-size: larger; font-weight: bold;">-BY SIMRAN ACHANTANI</h2>
                        <p style="color:#666; font-weight: bold;">FOLLOW ME @</p>
                        <a href="https://musingsofthegloom.blogspot.in"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/machatichaos?igshid=1619h5l7g0nl5"><i class="icon fa-3x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
                       </a>
                    </div>
                    
              </div>
              </div>
              </section>
              
     <section class="header-extradiv">
       <div class="container">
         <div class="row">
         <div class="col-lg-8 col-md-8 col-12 gap offset-lg-2 extradiv">
          <h2>की कुदरत ये सेहलाब लायी है॥ </h2>
          <hr style=" border: solid 1px #fff; margin:20px auto 20px auto;" />

          <p>दूर कहीं तक आज आँखों ने दिल से रास्ता बनाया...</p>
          <p>तो धुंध की जगाह चमकता सा जहां नज़र आया। </p>
          <p>शायद, पंछियों ने पोहचाई है अपनी दुहाई...</p>
          <p>की कुदरत ये सेहलाब है लायी। </p>
          
          <p>जाने कबसे इस नीले अंबर के दीदार को तरसा था...</p>
         <p>गल्ती मेरी भी थी शायद कहीं...जो ये कहर बरसा था। </p>
          <p>आज उन्ही पंछियों को नील गगन मे बेफ़ीक्र उड़ते देखा है...</p>
          <p>सूरजमुखी को उसका मुख मोड़ते देखा है।</p> 
          <p>देखा है मैंने आज उस समंदर को आसमान चूमते...</p>
          <p>जिसमे कभी दिनभर रहा करते थे झूमते।</p> 
          
          <p>आज वो सड़के भी खाली हैं;</p>
          <p>जिनपे कभी शोर बेशुमार हुआ करता था...</p>
          <p>क्योंकि आज शायद वो जानवर आज़ाद नही था;</p>
         <p> जो सबको अपनी क़ैद मे रखा करता था। </p>
          <p>शायद, पंछियों ने पोहचाई है अपनी दुहाई...</p>
          <p>की कुदरत ये सेहलाब है लायी।</p>
          
          <p>आज जो ये खुलके सांस ले रहा हूँ...</p>
          <p>शायद इस क़ैद से जग को एक तोहफ़ा दे रहा हूँ।</p> 
          <p>जो सूरज किरणे तंग किया करती थी;</p>
          <p>आज वही खिड़की के किसी कोने से चिट्ठी सरका जाती है...</p>
          <p>बाहर जाना चाहता हूँ मे भी होके आज़ाद;</p>
          <p>मगर... फिर उन पंछियों की याद आ जाती है। </p>
          
          <p>मेरी गलतियों की सज़ा ये बेज़ुबान न जाने कबसे सहता रहा था...</p>
          <p>न जाने कितना इस माँ की आँखों से आँसू बह रहा था।</p>
          <p>पर अब इस जहां ने फिर एक नया खेल रचाया है...</p>
          <p>मुझे मेरे ही आशियाँ मे क़ैदी बनाया है।</p>
          <p>क्योंकि शायद, पंछियों ने पोहचाई है अपनी दुहाई...</p>
          <p>की कुदरत ये सेहलाब है लायी।</p> 
          <p>की कुदरत…. ये सेहलाब है लायी।।</p>          
          <h3>-By GAUTAM SINGH</h3>
          <p>FOLLOW ME @</p>
         
          <a href="https://www.instagram.com/gautam461/"><i class="icon fa-4x fa fa-instagram" aria-hidden="true"></i> 
         </a>
        </div>
        
         </div>
         
       </div>
     </section>
     
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>