<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--my css-->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <!--google font poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!--font awesome from cdnjs copied link tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>RachnaYeri</title>
    <style>
        

.header-extradiv{
width: 100%;
height: auto;
margin-top: 70px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv{
color: #666;
background-color:#fff;
border: 2px solid #50d1c0;
border-radius: 18px;
padding:20px;
transition: transform .2s;
}
.extradiv:hover{
transform: scale(1.1);
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
color: #fff;
background-color: #666;
}
.header-extradiv-2{
width: 100%;
height: auto;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
background-color: #fff;
}
.extradiv-2{
color: #fff;
border: medium;
border-radius: 18px;
padding:20px;
}
.slide{
    margin:25px;
    padding: 20px;
    height: auto;
    background-color: #000;
}

.icon{
    margin: 6px;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.gap{
  margin-top: 50px;
  margin-bottom: 50px;
}

.fa-instagram{
  color: palevioletred;
}
.dropdown-item{
    color: #fff;
}
    </style>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RachnaYeri</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Another Genre
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Love">Romance</a>
                    <a class="dropdown-item " href="/Motivational">Motivation</a>
                    <a class="dropdown-item" href="/Nature">Philosophy</a>
                    
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">Join Now</a>
                  </li>
              </ul>
            </div>
          </nav>
    </section>

          <section class="header-extradiv">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-12 offset-lg-2  extradiv gap">
                  <h2>A Thank You Note To All The Guys Who Rejected Me</h2>
                            <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
             
                           
<p>This one’s for all of those who left me for the old me. Thank you for letting me transform myself into what I am today. Thank you. Thank you so much</p>
<p>Hey what do you think? That you were the cherry on my cake?</p>
<p>Oops let me tell you, though I considered you a lot but you were always fake.</p>


<p>Avoidance, rejection, ignorance were just words before you.</p>
<p>And why do I had to go through all these? I seriously don’t have any clue.</p>

<p>You were the one who left me broken,</p>
<p>Because for you I was just an ordinary token.</p>

<p>Your behavior was becoming cold,</p>
<p>I still managed and made myself bold.</p>

<p>Living happily with you was my only urge,</p>
<p>Although we were on the roads which would never merge.</p>

<p>Glad you made me realize that I wasn’t worth your time,</p>
<p>Giving all the love to you was my only crime.</p>

<p>Your good bye words were no less than a deadly pain,</p>
<p>But thank you, because I never let them go in vain.</p>

<p>Your actions made me change myself,</p>
<p>You are the prime reason for that. Don’t trust me? You Can ask yourself.</p>


<p>Thank You for letting me change my fate ,</p>
<p>There’s nothing left behind for you in me other than hate.</p>

<p>No grudge or hard feelings for you,</p>
<p>There’s just a very big thank you.</p>

<p>Now I have become more sensible and wise,</p>
<p>I Don’t care about others and their advice.</p>


<p>I’m fortunate to you for reveling all the boys real face,</p>
<p>And without you my life is moving with a better pace.</p>

<p>I am no more of an emotional fool,</p>
<p>The behavior you deserve is nothing but cruel.</p>

<p>I gave you my every little thing,</p>
<p>But for you I was nothing.</p>

<p>I badly wish to never see you again,</p>
<p>As all your memories are flushed in the drain.</p>

<p>The value I gave you was special which now you will never find.</p>
<p>Because you were the one who rejected me, just keep this in mind.</p>

<p>You were the wrong one whom I used to admire,</p>
<p>You were the only one Who left me alone in fire.</p>

<p>For all that has happened to me, thanks to you</p>
<p>You have realized a lot but my revenge is still due.</p>

<p>You were the one who let me burn,</p>
<p>Dignity is the thing which is missing so just go and learn.</p>

<p>So, this all was for you Mr. Arrogant,</p>
<p>I hope soon or later this shit would end.</p>


                            <h3>-BY VAISHNAVI PURI</h3>
          
                               <p>FOLLOW ME @</p>
                               <a href="https://vaishnavipuri.wordpress.com/"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i>
                               <a href="https://www.instagram.com/mywritingscroll/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </section>
      
<section class="header-extradiv">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-12 gap  extradiv">
      <h2>दूर रहना चाहता हूँ </h2>
      <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>कैसा ये अफसाना है,</p>
<p>बस तुमको अपना माना है,</p> 
<p>जिंदगी की इन सूनी राहों में,</p>
<p>बस तेरा अक्स पहचाना है।</p> 

<p>तुम फिर भी अनजान बने,</p> 
<p>मुझसे जाने क्या खता हुई, </p>
<p>जो यूं रुसवा अंजाम बने।</p> 

<p>अब आँसू भी थक गए हैं,</p> 
<p>तुम्हें रो-रोकर</p>, 
<p>पलके  करती हैं  इंतजार, </p>
<p>देख ले तुम्हें  नज़र भर।</p> 

<p>सालों - साल का इंतजार एक पल में,</p> 
<p>खत्म हो सकता है,</p> 
<p>तुम्हें दुख का कारण जानकर, </p>
<p>ये दिल नफ़रत कर सकता है।</p> 

<p>पर दिल-दिमाग की सुनता है,</p>   
<p>हर बार  बस तुम्हें ही चुनता है।</p> 
<p>हर साँस में तुम बस ही गई हो, </p>
<p>दिल-दिमाग सब तुम बन गई  हो। </p>

<p>भूलना चाहें तो भुला नहीं सकते,</p> 
<p>पराया बनाना चाहें तो बना नहीं सकते,</p> 
<p>मौत के बाद भी तुम्हें पाना चाहते हैं,</p> 
<p>तुम्हारे लिए तुमसे दूर चले जाना चाहते हैं।</p> 

<p>जिन यादों को तुम भुला चुकी हो, </p>
<p>वो वजह  हैं मेरे जीने की, </p>
<p>शायद, पास आकर तुम्हारे टूट जाऊँ,</p> 
<p>बस इसीलिए, दूर रहना चाहता हूँ।</p> 
<h3>-BY KSHITIZ</h3>
<P>FOLLOW ME @</P>
<a href="https://worksksh.blogspot.com"><i class="icon fa-3x fa fa-envelope" aria-hidden="true"></i>
  <a href="https://www.instagram.com/kshitizworld/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>

    </div>
    <div class="col-lg-5 col-md-5 col-12 gap offset-lg-1 extradiv">
      <h2>A Facade of love!</h2>
      <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
      <p>Do you remember,</p>
      <p>the eructation of land?</p>
      <p>Furnace that turned,</p>
      <p>glass from the sand!</p>
      
      <p>I remember the fire burnin' low,</p>
      <p>and your every mystical glow!</p>
      <p>you remember when,</p>
      <p>we we're walking upon moonlight?></p>
      <p>lumpy but, you held me tight!</p>
      
      <p>I remember your eyes' risqué,</p>
      <p>gloriously stoned me away.</p>
      <p>I remember you reading my palm,</p>
      <p>nevertheless; always stood me calm.</p>
      
      <p>I remember your each desire,</p>
      <p>the finest one was around bonfire.</p>
      <p>After you walked down the aisle,</p>
      <p>with you prettiest ever smile.</p>
      
      <p>you do remember the princess;</p>
      <p>rescued by the knight,</p>
      <p>executing the dragon;</p>
      <p>raised his sword & swore to fight.</p>
      
      <p>Remember Claudius' treachery?</p>
      <p>Began with the Hamlet's rivalry?</p>
      <p>that little chaotic teen?</p>
     <p>always blaming the queen?</p>
     <h3>-BY GAUTAM SINGH</h3>
     <P>FOLLOW ME @</P>
       <a href="https://www.instagram.com/gautam461/"><i class="icon fa-3x fa fa-instagram" aria-hidden="true"></i></a>
           
    </div>
  </div>
</div>
</section>

<section class="header-extradiv-2">
  <div class="container">
    <div class="row">
      <div style="background-color: #50d1c0;" class="col-lg-12 col-md-12 col-12 extradiv-2">
        <h2 style="color:#fff; background-color: #50d1c0;">Finding Him & My Broken Heart</h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="60000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2>Long way home</h2>
              <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>We laugh at the same jokes, at the same time</p>
<p>I almost see you laugh</p>
<p>I almost hear you say the words</p>
<p>and maybe seek those tears.</p>

<p>Even the tracks and roads fail</p>
<p>to keep us apart</p>
<p>but I almost feel you breathe</p>
<p>when I am alone in the dark.</p>

<p>It is crazy how beautiful your eyes look</p>
<p>behind the glazing screen</p>
<p>and again I almost touched you</p>
<p>when I tried to have a good night sleep.</p>

<p>Yet again, I almost touched you</p>
<p>with my hug and skin to see</p>
<p>I almost forgot how much I loved you</p>
<p>because of how far you've been.</p>

            </div>
            <div class="carousel-item">
             <h2>I found a home</h2>
             <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Hey there wind I have been hearing</p>
<p>The words you tried to send to me,</p>
<p>Oh dear sea, I have been touched,</p>
<p>by the ways you wanted me to feel.</p>

<p>The sky has color, it showed me love,</p>
<p>I could see the lights on the swings,</p>
<p>the suns and stars,</p>
<p>the moons and clouds</p>
<p>have started to look happier.</p>

<p>All the useless love songs,</p>
<p>all the places I once belonged,</p>
<p>have started to make sense,</p>
<p>I looked at the sky once again.</p>

<p>I saw God was smiling; whispering,</p>
<p>"the knight has sailed, little bird.</p>
 <p>He should reach you by now,</p>
 <p>all hope of yours, I have heard,</p>
 <p>all you lost, I have sent.</p> 
<p>I bet you believed.</p>
<p>I say it is the truth,</p>
<p>darling, you have been called home. "</p>

            </div>
           
          </div>
         
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
         
        </div>
        <h2 style="color:#666; font-size: larger; font-weight: bold;">-BY SIMRAN ACHANTANI</h2>
        <p style="color:#666; font-weight: bold;">FOLLOW ME @</p>
      <a href="https://musingsofthegloom.blogspot.in"><i class="icon fa-4x fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://instagram.com/machatichaos?igshid=1619h5l7g0nl5"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
       </a>
      </div>
     
    </div>
   
  </div>
</section>

<section class="header-extradiv">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-12 gap extradiv">
      <h2>Tragedy </h2>
      <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Once walking beside me, he asked,</p> 

<p>"What's your tragedy? </p>
<p>Everybody has one".</p>

<p>I smiled at him and said,</p>

<p>"There isn't one. I've loved who I've loved.</p>
 <p>I've lost what was never meant for me.</p> 
<p>I've lived and become whoever I've wanted to be".</p> 

<p>But when today he found me,</p> 
<p>On the floor, with my torn up journal </p>
<p>Resting beside my trembling ink stained hands. He picked up my pen and,</p>
<p>While handing it to me he said,</p> 

<p>"There's so much that you're willing,</p>
<p>To write, but some things inside you 
<p>Just won't make it out in words.</p> 
<p>That's your tragedy".</p>
<h3>-BY RANYA VAID</h3>
          <p>FOLLOW ME @</p>
          <a href="https://instagram.com/___oblivio.n?igshid=bvbqyn1iu0vk"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
         </a>

    </div>
    <div class="col-lg-5 col-md-5 col-12 gap offset-lg-1 extradiv">
     <h2>Letter To A Loved One</h2>
     <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Hey,</p> 

<p>You didn't expect this, huh? I didn't either.</p> 
<p>I know I hardly ever talk about you, instead, I keep you in between the lines of those poems that are locked up in my journal, I don't let anyone read, yet I still keep holding onto the threads of your flesh. That's what I say at least, when in fact, somehow those strings have made their way around my fingers and I'm too afraid to pull them out and let you go. </p>

<p>You're not happy, how can you be? When I've tied you up in a fortress filled with the terrors, that come to me at times when I board the metro too late and with those thoughts that force my tongue to keep reciting those tables, I learnt in my childhood, of 12s, 13s and 14s, only to push those thoughts away. </p>

<p>Then there's this thing that you've always dreaded yet it's true, it's the fact that I can't let you out, that I can't save you.</p>

<p>I can't save you, even when some years ago you saved me when you didn't have to and even though I begged you not to, you did.</p> 

<p>So all I've come to say is;</p>
<p>I'm sorry,</p>

<p>I'm sorry that you've to carry the weight that belongs to me,</p>

<p>I'm sorry that you've to drink down the memories of everyone who were led in by me,</p>

<p>And the most I'm sorry for is those dead flowers I keep handing back to you while you keep blooming fresh ones for me. </p>

                        <p>- to the girl, I was before.</p> 
                        <h3 >-BY RANYA VAID</h3>
                        <p>FOLLOW ME @</p>
                        <a href="https://instagram.com/___oblivio.n?igshid=bvbqyn1iu0vk"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
                       </a>
              
    </div>
  </div>
</div>
</section>

<section class="header-extradiv">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12 gap offset-lg-2 extradiv">
        <h2>Shor Teri Saanson Ka</h2> 
        <hr style=" border: solid 1px #fff; margin:10px auto 10px auto;" />
<p>Kyu siskiyo me ghum hai</p>

<p>Kyu aakhein teri</p>
<p>Aj firse nam hai</p>

<p>Kyu beete lamho ke manke</p>
<p>Mann ke dhaage Me pirota hai</p>

<p>Beete lamho me dooba baitha</p>
<p>Kyu waqt tu khota hai .</p>

<p>Vo beet gyi Jo baat thi</p>
<p>Jo sath hai ..wo Ye raat hai...</p>

<p>Kya paaya tha tune.. jo tu</p>
<p>Kho jane par rota hai</p>

<p>Ye lamha bhi beet jayega</p>
<p>Yaad hi banke rhe jayega</p>

<p>Tu apni kismat pe rota</p>
<p>Yuhi baitha rhe jayega</p>
<h3 >-BY VIBHOR KATARIA</h3>
                        <p>FOLLOW ME @</p>
                        <a href="https://instagram.com/vibhor_kataria_?igshid=ii3gm1goe43l"><i class="icon fa-4x fa fa-instagram" aria-hidden="true" style="color:palevioletred;"></i> 
                       </a>
              
      </div>
    </div>
  </div>
</section>


     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>