<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--my css-->
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <!--google font poppins -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!--font awesome from cdnjs copied link tag-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <title>RachnaYeri</title>
    <style>
             .a{
   width: 480px;
   margin: 60px auto; 
   box-shadow: 0 0 20px #000;
   background-color: lightgreen;
   color:#fff;
}
.info{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:#50d1c0;
    text-align: center;
}
.fbx{
    padding: 20px;
    text-align: center;
}
.btn-block{
    box-shadow: 0 0 20px #6666;
    transition: transorm .2s;
}
.inp{
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    margin-bottom: 8px;
    font-weight: bold;
}
@media(max-width: 720px){
    .a{
        width: 90%;
    }
}

    </style>
</head>
<body>

  <div class="a">
    <section class="fbx">
    <h3>Thanks for joining our community. Keep checking your inbox, we will contact you soon.</h3>
    </section>

</div>
</body>
</html>